<div class="sidenav">
  <a>Browse by</a>
  <button class="dropdown-btn" (click)="toggleSubject()">Subject
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container" *ngIf="toggleDropdown==='subject-active'">
    <a href="#">Accounting (AC)</a>
    <a href="#">Advanced Medical Imaging</a>
    <a href="#">Allied Health (AH)</a>
    <a href="#">American Sign Language</a>
    <a href="#">Anesthesiology (ANE)</a>
    <a href="#">Anthropology (AN)</a>
    <a href="#">Arabic (ARB)</a>
    <a href="#">Art (AR)</a>
    <a href="#">Asian Studies (AS)</a>
    <a href="#">Athletic Training (AT)</a>
    <a href="#">Biology (BIO)</a>
    <a href="#">Biomedical Sciences (BMS)</a>
    <a href="#">Business (SB)</a>
    <a href="#">Business Administration</a>
    <a href="#">Business Analytics (BAN)</a>
    <a href="#">Business Law</a>
  </div>
  <button class="dropdown-btn" (click)="toggleRequirement()">Requirement
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container" *ngIf="toggleDropdown==='requirement-active'">
    <a href="#">Natural Sciences</a>
    <a href="#">Humanities</a>
    <a href="#">Social Sciences</a>
    <a href="#">Fine Arts</a>
  </div>
</div>

<div class="main">
  <div class="items">
    <div class="items-body">
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="items-body-content">
        <span><strong>Course Code</strong><br/>Course Name<br/>Brief Description</span>
        <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </div>
</div>
