<div class="grid-container">
  <h1>Filter Search</h1>
  <div class="inner-form">
    <div class="input-field">
      <h2>Term</h2>
      <div>
        <input type="checkbox" id="spring2023" name="spring2023">
        <label for="spring2023">Spring 2023</label>
      </div>
      <div>
        <input type="checkbox" id="summer2023" name="summer2023">
        <label for="summer2023">Summer 2023</label>
      </div>
      <div>
        <input type="checkbox" id="fall2023" name="fall2023">
        <label for="fall2023">Fall 2023</label>
      </div>
    </div>
    <div class="input-field">
      <h2>Location</h2>
      <div>
        <input type="checkbox" id="mount-carmel" name="mount-carmel">
        <label for="mount-carmel">Mount Carmel</label>
      </div>
      <div>
        <input type="checkbox" id="web-based" name="web-based">
        <label for="web-based">Web-Based</label>
      </div>
    </div>
    <div class="input-field">
      <h2>Days of the Week</h2>
      <div>
        <input type="checkbox" id="monday" name="monday">
        <label for="monday">Monday</label>
      </div>
      <div>
        <input type="checkbox" id="tuesday" name="tuesday">
        <label for="tuesday">Tuesday</label>
      </div>
      <div>
        <input type="checkbox" id="wednesday" name="wednesday">
        <label for="wednesday">Wednesday</label>
      </div>
      <div>
        <input type="checkbox" id="thursday" name="thursday">
        <label for="thursday">Thursday</label>
      </div>
      <div>
        <input type="checkbox" id="friday" name="friday">
        <label for="friday">Friday</label>
      </div>
    </div>
    <div class="input-field">
      <h2>Course Level</h2>
      <div>
        <input type="checkbox" id="level100" name="level100">
        <label for="level100">Level 100</label>
      </div>
      <div>
        <input type="checkbox" id="level200" name="level200">
        <label for="level200">Level 200</label>
      </div>
      <div>
        <input type="checkbox" id="level300" name="level300">
        <label for="level300">Level 300</label>
      </div>
      <div>
        <input type="checkbox" id="level400" name="level400">
        <label for="level400">Level 400</label>
      </div>
    </div>
    <div class="input-field">
      <h2>Course Name/Code</h2>
      <input id="course-name" type="text" placeholder="">
    </div>
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    </button>
    <button>
      <i class="fa-solid fa-arrow-rotate-left"></i>
      Reset
    </button>
  </div>
</div>
