ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A2B33;
}

li {
  float: left;
}

li a {
  display: block;
  color: #D4D4DA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #0F9FEF;
}

.container {
  background-color: #2A2B33;
}

.navbar navbar-expand-lg navbar-dark bg-dark navbar-default navbar-static-top {
  background-color: #2A2B33;
}

.panel .settings-side-panel {
  height: 100%;
  width: 250px;
  background-color: #2A2B33;
  position: absolute;
  right: 0;
}

label {
  color: white;
  margin: 10px;
}

