.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.float-child {
  height: 800px;
  background: #050735;
  padding: 25px;
}

.float-child:first-child {
  margin-right: 10px;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  color: #0F9FEF;
  margin-bottom: 5px;
}

body {
  width: inherit;
  height: inherit;
  text-align: center;
  margin: 75px 300px 50px 300px;
}

button {
  display: block;
  width: 100%;
  background-color: #050735;
  color: #D4D4DA;
  font-size: 35px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
  background-color: #0F9FEF;
}

.back-button{
  grid-column: span 3;
  width: 800px;
  display: flex;
  justify-content: center;
  margin-left: 25%;
}
