<div class="container">
  <div class="items">
    <div class="items-body">
      <div class="items-body-content">
        <span><strong>AR*140</strong><br/>Basic Visual Design</span>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="items-body-content">
        <span><strong>MA*229</strong><br/>Linear Algebra</span>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="items-body-content">
        <span><strong>DS*201</strong><br/>Intro to Python</span>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="items-body-content">
        <span><strong>ENR*395</strong><br/>Professional Dev Seminar</span>
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
  </div>
</div>
