$pri: #128CFC;
$sec: #fffffe;
$dark-pri: #0B5AA2;
* {
  box-sizing: border-radius;
  font-family: 'Rubik', sans-serif;
}
.container {
  border: 1px solid black;
  border-radius: 8px;
  height: 710px;

  top: 0; right: 0; bottom: 0; left: 0;
  margin: 2%;

  display: grid;

  background-color: #fff;
}

.items {
  width: 100%;
  background: $sec;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  border-top: 10px solid $dark-pri;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 12fr 2fr;
  background-color: #0F9FEF;
  font-size: 13px;
  border: 1px solid transparent;
  cursor: pointer;
}

.items-body-content:hover {
  border-radius: 8px;
  border: 1px solid $dark-pri;
}

.items-body-content i {
  height: 25px;
  align-self: center;
  font-size: 15px;
  color: $dark-pri;
  font-weight: bold;
}

.items-body-content span {
  color: #fff;
  font-size: 16px;
}

.items-body-content i:hover {
  color: #EEDA15;
}



