<html>
<head></head>
 <body>
    <div class="container">
        <div class="addCourseContainer">
            <h1>Add Course</h1>
            <form (ngSubmit)="addCourse()">
                <input type="text" autocomplete="off" class="form-control" id="ID" placeholder="CourseCode" name="coursecode" [(ngModel)] = "course.coursecode">
                <input type="text" autocomplete="off" class="form-control" id="Name" placeholder="CourseName" name="coursename" [(ngModel)] = "course.coursename">
                <input type="text" autocomplete="off" class="form-control" id="Days" placeholder="Days" name="days" [(ngModel)] = "course.days">
                <input type="text" autocomplete="off" class="form-control" id="Description" placeholder="Description" name="description" [(ngModel)] = "course.description">
                <input type="text" autocomplete="off" class="form-control" id="OfferingSemester" placeholder="Offering Semester" name="offsemester" [(ngModel)] = "course.offsemester">
                <input type="text" autocomplete="off" class="form-control" id="PreReq" placeholder="Pre Reqs" name="prereq" [(ngModel)] = "course.prereq">
                <input type="text" autocomplete="off" class="form-control" id="Professor" placeholder="Professor" name="professor" [(ngModel)] = "course.professor">
                <input type="text" autocomplete="off" class="form-control" id="Section" placeholder="Section" name="section" [(ngModel)] = "course.section">
                <input type="text" autocomplete="off" class="form-control" id="Time" placeholder="Time" name="time" [(ngModel)] = "course.time">
                <button type="submit" class="btn btn-primary add-button">Add Course</button>
            </form>
        </div>
        <div class="removeCourseContainer">
            <h1>Remove Course</h1>
            <form (ngSubmit)="removeCourse()">
                <input type="text" autocomplete="off" class="form-control" id="removeCode" placeholder="Course_Code" name="addCode" [(ngModel)] = "course.coursecode">
                <button type="submit" class="btn btn-primary remove-button">Remove Course</button>
            </form>
        </div>
    </div>
 </body>
</html>
