<body>
  <button class="btn btn-primary" [routerLink]="['course-catalog']" (click)="goToCourseCatalogPage()">
    <i class="fa-solid fa-book-open fa-2x"></i>
    Course Catalog
  </button>
  <button class="btn btn-primary" [routerLink]="['progress']" (click)="goToProgressPage()">
    <i class="fa-solid fa-list-check fa-2x"></i>
    Progress
  </button>
  <button class="btn btn-primary" [routerLink]="['planned-courses']" (click)="goToPlannedCoursesPage()">
    <i class="fa-regular fa-calendar fa-2x"></i>
    Planned Courses
  </button>
  <button class="btn btn-primary" [routerLink]="['messaging-center']" (click)="goToMessagingCenterPage()">
    <i class="fa-regular fa-comments fa-2x"></i>
    Messaging Center
  </button>
</body>


