<div id="container">
  <aside>
    <header>
      <input type="text" placeholder="Search">
    </header>
    <ul>
      <li>
        <i id="aside-icon" class="fa-solid fa-user fa-2xl"></i>
        <div>
          <h2>advisor</h2>
          <h3>Advisor</h3>
        </div>
      </li>
    </ul>
  </aside>
  <main>
    
    <header>
      <i id="main-icon" class="fa-solid fa-user fa-2xl"></i>
      <div>
        <h2>advisor</h2>
        <h3>Advisor</h3>
      </div>
    </header>
    <div class="items-body">
      <div class="items-body-content" *ngFor = "let message of activeUserMessages">
        <p><strong>{{ message.studentName }}</strong><br/>{{ message.message }}</p>
      </div>

    </div>
    <footer>
      <form (ngSubmit) ="messageSend()">
          <div class="input-group mb-3">
            <input type="text" autocomplete="off" class="form-control" id="message" name="message" [(ngModel)]="message.message" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Send Message</button>
          </div>
      </form>
    </footer>
  </main>
</div>
