<!DOCTYPE html>
  <html>

    <head>

    </head>
    <body>
      <div class="container">
        <h1 id='userDisplay'>{{name}}</h1>
        <div class="container1">
          <div class="grid-container">
            <div class="float-child">
              <p class="student-info"><strong>Cumulative GPA:   </strong>{{gpa}}</p>
              <p class="student-info"><strong>Major:  </strong>{{major}}</p>
              <p class="student-info"><strong>Minor(s):   </strong>{{minor}}</p>
            </div>
            <div class="float-child">
              <p><strong>Total Credits</strong> {{credits}}</p>
            </div>
          </div>
        </div>
        <div class="grid-container">
          <div class="float-child">
            <h3>Freshman Year</h3>
            <app-progress-list sortBy = "Freshman"></app-progress-list>
          </div>
          <div class="float-child">
            <h3>Sophmore Year</h3>
            <app-progress-list sortBy = "Sophmore"></app-progress-list>
          </div>
        
          <div class="float-child">
            <h3>Junior Year</h3>
            <app-progress-list sortBy = "Junior"></app-progress-list>
          </div>
          <div class="float-child">
            <h3>Senior Year</h3>
            <app-progress-list sortBy = "Senior"></app-progress-list>
          </div>
        </div>
      </div>
    </body>
  </html>
