<!DOCTYPE html>
  <html>

    <head>

    </head>
    <body>
      <div class="container">
        <h1 id='userDisplay'>{{name}}</h1>
        <div class="container1">
          <div class="grid-container">
            <div class="float-child">
              <p class="student-info"><strong>Cumulative GPA:   </strong>{{gpa}}</p>
              <p class="student-info"><strong>Major:  </strong>{{major}}</p>
              <p class="student-info"><strong>Minor(s):   </strong>{{minor}}</p>
            </div>
            <div class="float-child">
              <p><strong>Total Credits</strong> {{credits}}</p>
            </div>
          </div>
        </div>

        <h1>Requirements</h1>
        <div class="container2">
          <div class="container3">
            <input type="radio" class="radio" name="progress" value="university-curriculum-breadth-requirements" id="university-curriculum-breadth-requirements">
            <label for="university-curriculum-breadth-requirements" class="label">University Curriculum Breadth Requirements</label>

            <input type="radio" class="radio" name="progress" value="intercultural-understanding" id="intercultural-understanding" checked>
            <label for="intercultural-understanding" class="label">Intercultural Understanding</label>

            <input type="radio" class="radio" name="progress" value="major-requirements" id="major-requirements">
            <label for="major-requirements" class="label">Computer Science Major Requirements</label>

            <input type="radio" class="radio" name="progress" value="free-electives" id="free-electives">
            <label for="free-electives" class="label">Free Electives</label>

            <input type="radio" class="radio" name="progress" value="other-courses" id="other-courses">
            <label for="other-courses" class="label">Other Courses</label>

            <div class="progress2">
              <div class="progress-bar2"></div>
            </div>

            <p class="toBeReplaced">1 out of 1 items</p>

            <div class="first-requirements">
              <nav>
                <label class="dropdown" for="touch1"><span>Foundations Inquiry</span></label>
                <input type="checkbox" id="touch1">

                <ul class="slide">
                  <li><a href="#">Lorem Ipsum</a></li>
                  <li><a href="#">Lorem Ipsum</a></li>
                  <li><a href="#">Lorem Ipsum</a></li>
                  <li><a href="#">Lorem Ipsum</a></li>
                </ul>
              </nav>
              <nav>
                <label class="dropdown" for="touch2"><span>Disciplinary Inquiry</span></label>
                <input type="checkbox" id="touch2">

                <ul class="slide">
                  <li><a href="#">Natural Sciences</a></li>
                  <li><a href="#">Humanities</a></li>
                  <li><a href="#">Social Sciences</a></li>
                  <li><a href="#">Fine Arts</a></li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </body>
  </html>
