<!DOCTYPE html>
  <html>

    <head>

    </head>
    <body>
      <div class="container">
        <h1 id='userDisplay'>{{name}}</h1>
        <div class="container1">
          <div class="grid-container">
            <div class="float-child">
              <p class="student-info"><strong>Cumulative GPA:   </strong>{{gpa}}</p>
              <p class="student-info"><strong>Major:  </strong>{{major}}</p>
              <p class="student-info"><strong>Minor(s):   </strong>{{minor}}</p>
            </div>
            <div class="float-child">
              <p><strong>Total Credits</strong> {{credits}}</p>
            </div>
          </div>
        </div>
        <div class="grid-container">
          <div class="float-child">
            <h2>Freshman Year</h2>
            <app-course-list></app-course-list>
          </div>
          <div class="float-child">
            <h2>Sophmore Year</h2>
            <app-course-list></app-course-list>
          </div>
        </div>
      </div>
    </body>
  </html>
