h1 {
  font-size: 2rem;
  text-align: center;
  color: #0F9FEF;
  margin-bottom: 5px;
  text-align: left;
}

.student-info {
  font-size: 17px;
}

.student-info strong {
  font-color: #fff;
}

.container1 {
  height: 150px;
  background: #050735;
}

.container2 {
  height: 500px;
  background: #050735;
}

body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #2a2a2a;
}

.container {
  margin: auto;
  width: 95%;
  height: 0px;
  text-align: center;
}

.container3 {
  padding: 15px;
  text-align: center;
}

.container .progress {
  margin: 0 auto;
  width: 400px;
}

.container .progress2 {
  margin: 0 auto;
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.float-child {
  height: 200px;
  padding: 20px;
}

.float-child p {
  color: #fff;
  text-align: left;
}

h3 {
  font-weight: bold;
  color: #0F9FEF;
  font-size: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 50px;
}


.advisees-body {
  width: inherit;
  height: inherit;
  text-align: center;
  margin: 75px 300px 50px 300px;
  background-color: #1F1F23;
}

button {
  display: block;
  width: 100%;
  background-color: #050735;
  color: #D4D4DA;
  font-size: 35px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
  background-color: #0F9FEF;
}

.back-button{
  grid-column: span 3;
  width: 800px;
  height: 75px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  align-self: center;
}



